<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>{{ $name | async | titlecase }}</span>
  <div class="spacer"></div>
  <button class="btn btn-primary mr-2" (click)="showRawJson = !showRawJson">
    {{ showRawJson ? 'Hide Raw Data' : 'Show Raw Data' }}
  </button>
</div>

<div *ngIf="$name | async as name" class="container mt-4">
  <div class="row">
    <div class="col-3">
      <app-user-list [users]="$users | async"></app-user-list>
    </div>
    <div class="col-9">
      <app-messages [messages]="$messages | async"></app-messages>
    </div>
  </div>
  <div class="row">
    <input
      class="form-control"
      placeholder="message"
      [(ngModel)]="msg.message"
      (keydown.enter)="sendMessage(name)"
    />
  </div>

  <div *ngIf="showRawJson" class="row mt-2 debugger">
    <div class="col">
      <code>
        <pre>Message object raw = {{ msg | json }}</pre>
      </code>
    </div>
    <div class="col">
      <code>
        <pre>Messages array raw = {{ $messages | async | json }}</pre>
      </code>
    </div>
    <div class="col">
      <code>
        <pre>Name raw = {{ $name | async | json }}</pre>
      </code>
    </div>
  </div>
</div>
